################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS-Challenge-master/.idea/.idea.JokeGenerator
